@function strip($number) {
  @return $number / ($number * 0 + 1);
}

@function em( $target, $context: 16px ) {
  @return ( strip($target) / strip($context) ) * 1em;
}

$device-button-color-lightest: rgba(255,255,255,0.5);
$device-button-color-light: rgba(255,255,255,0.3);
$device-button-color-dark: rgba(0,0,0,0.4);

$browser-border-radius: 8px;

%device-frame {
  position: relative;
  overflow: hidden;
  background: #444;
  font-size: 1.1vw;

  @media (min-width: 1440px) {
    font-size: 100%;
  }
}

.browser-frame {
  @extend %device-frame;
  border-radius: $browser-border-radius;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.browser-frame__chrome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: em(44px);
  padding: 0 em(16px);
}

.browser-frame__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: em(60px);
}

.browser-frame__round-button {
  width: em(12px);
  height: em(12px);
  border-radius: 50%;
  background: $device-button-color-lightest;
}

.menu-icon__line {
  width: em(20px);
  height: em(3px);
  border-radius: em(2px);
  margin: em(4px) 0;
  background: $device-button-color-lightest;
}

.browser-frame__screen {
  position: relative;
}

.browser-screen__border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 0 0 $browser-border-radius $browser-border-radius;
  border: {
    right: 1px solid rgba(0,0,0,0.15);
    bottom: 1px solid rgba(0,0,0,0.15);
    left: 1px solid rgba(0,0,0,0.15);
  };
  pointer-events: none; // to keep the image clickable
}

// IPHONE
$iphone-screen-width: em(347px);
$iphone-screen-height: em(617px);
$iphone-screen-edge: em(13px);

$iphone-speaker-width: em(72px);
$iphone-speaker-height: em(9px);

.iphone-frame {
  @extend %device-frame;
  display: inline-flex;
  border-radius: em(46px);
  align-items: center;
  flex-flow: column;
}

.iphone-frame__screen {
  width: $iphone-screen-width;
  height: $iphone-screen-height;
  margin: 0 $iphone-screen-edge;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }
}

.iphone-frame__camera {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $device-button-color-dark;
  margin: em(15px) auto 0;
}

.iphone-frame__sensor {
  position: absolute;
  top: em(37px);
  left: em(117px);
  width: em(13px);
  height: em(13px);
  border-radius: 50%;
  background: $device-button-color-light;
}

.iphone-frame__speaker {
  width: $iphone-speaker-width;
  height: $iphone-speaker-height;
  margin: em(13px) auto em(40px);
  border-radius: em(5px);
  background: $device-button-color-light;
}

.iphone-frame__home-button {
  width: em(62px);
  height: em(62px);
  border-radius: 50%;
  box-sizing: border-box;
  border: em(3px) solid $device-button-color-light;
  margin: em(14px);
}

// IPHONE - LANDSCAPE

.iphone-frame--landscape {
  @extend .iphone-frame;
  flex-flow: row;

  .iphone-frame__screen {
    width: $iphone-screen-height;
    height: $iphone-screen-width;
    margin: $iphone-screen-edge 0;
  }

  .iphone-frame__camera {
    margin: 0 0 0 em(15px);
  }

  .iphone-frame__sensor {
    bottom: em(117px);
    left: em(37px);
    top: auto;
  }

  .iphone-frame__speaker {
    width: $iphone-speaker-height;
    height: $iphone-speaker-width;
    margin: 0 em(40px) 0 em(13px);
  }
}

// ANDROID

.android-frame {
  @extend %device-frame;
  display: inline-block;
  border-radius: em(34px);
}

.android-frame__speaker,
.android-frame__mic {
  width: em(137px);
  height: em(16px);
  border-radius: em(8px);
  background: $device-button-color-dark;
}

.android-frame__speaker {
  margin: em(26px) auto em(31px);
}

.android-frame__camera {
  width: em(13px);
  height: em(13px);
  border-radius: 50%;
  background: $device-button-color-light;

  position: absolute;
  top: em(27px);
  left: em(70px);
}

.android-frame__screen {
  width: em(356px);
  height: em(632px);
  margin: 0 em(10px);
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }
}

.android-frame__mic {
  margin: em(31px) auto em(26px);
}
