.footer {
  display: flex;
  height: 108px;
  padding: 40px;
  align-items: center;
  font-family: 'PT Serif', 'serif';
  font-size: 2rem;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    display: block;
  }
}
