.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  height: 108px;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  font-family: 'PT Serif', 'serif';
  font-size: 2rem;
  line-height: 1.2;
}

.activeLink {
  color: rgba( 0,0,0,0.4);
}
